h1 {
    font-size: 3em;
    margin: 20px auto;
    background-color: #ffc75f ;
    padding-top: 20px;
    padding-bottom: 20px;
}
h2 {
    font-size: 2em;
    margin: 20px auto;
    color: #9F2104;
    text-decoration: underline;
}
h3 {
    font-size: 1.3em;
    margin: 20px auto;
    color: #9F2104;
}
em {
    font-size: 1.5em;
    color: #555;
    text-align: left;
    padding-bottom: 20px;
    margin-top: 60px;
}
table {
    border-collapse: collapse;
     margin: auto;
     width: 80%;
}
td,th /* Toutes les cellules des tableaux... */
{
    border: 1px solid black; /* auront une bordure de 1px */
    padding: 15px; /* et un peu d'espace pour que le texte ne soit pas collé aux bords */
}
p, ul {
    text-align: justify;
    margin: 20px auto;
    width: 80%;
    font-size: 1.2em;
}
form{
    margin: 10px auto;
    width: 80%;
    height: 30px;
    padding: 20px;
    align-items: center;
}
.group1{
    height: 20px;
    justify-content: space-around;
}
.group2{
    height: 20px;
    justify-content: space-around;
    margin: 30px auto;
    align-items: center;
}
.group3{
    height: 30px;
    justify-content: space-around;
    margin: 20px auto;
}   
button{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 1.2em;
    margin-bottom: 100px;
}
input[type="text"], input[type="email"]{
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
label[for="message"] {
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
textarea {
    width: 80%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}  
td {
    font-size: 1em ;
}
th {
    background-color: #ff8066;
    color: white;
    font-size: 1.2em;
}
caption {
    font-size: 1.2em;
    margin: 10px auto;
    color: #9F2104;
}
body {
    background-color: #f5f5f5;
    padding: 30px;
    font-family: 'Roboto', sans-serif;
}
.navbar {
    background-color: #ffc75f;
    display: flex;             /* Active le mode Flexbox */
    justify-content: space-between; /* Aligne le titre à gauche et le menu à droite */
    align-items: center;       /* Aligne verticalement le titre et le menu au centre */
    padding: 10px 25px;        /* Ajoute de l'espace interne (haut/bas gauche/droite) */
    margin-bottom: 30px;       /* Ajoute de l'espace en dessous de la barre de navigation */
}

.PremierTitre {
    display: flex;
    align-items: center;
    gap: 10px;                 /* Espace entre l'icône jaune et le texte */
}

/* Zone du menu de navigation */
.Lemenu {
    display: flex;
    gap: 20px; 
    font-size: 1.5em;                /* Espace horizontal entre chaque lien du menu */
}